<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bme.aut.android.playcatalog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".PlayCatalogApplication">
        <!--
        <activity
            android:name=".ui.plays.PlaysActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!-- Main Activity-->
        <activity android:name=".ui.games.GameActivity" >
            <intent-filter>
                <!-- MAIN represents that it is the Main Activity-->
                <action android:name="android.intent.action.MAIN" />
                <!-- Launcher Denotes that it will be the first launching activity-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.plays.PlaysActivity" />
        <activity android:name=".ui.playentry.PlayEntryActivity" />
    </application>

</manifest>